<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>


    </style>
</head>
<body bgcolor="yellow">
<h1>HTML FORMS</h1>
<form action="welcome.php">

<h2 style="color:green;">Welcome to athena</h2>

     <a href="download.jpeg">

        <img src="download.jpeg" alt="paris">
        </a>

<form action="welcome.php" method="post">
Name: <input type="text" name="name"><br>
E-mail: <input type="text" name="email"><br>
<input type="submit">
</form>


</body>
</html>